[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
tweepy = "*"
pandas = "*"
streamlit = "*"
pymongo = {extras = ["srv"], version = "*"}
mime = "*"

[dev-packages]

[requires]
python_version = "3.7"
